@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");

:root {
  --bg: #14141a;
  --fg: #e0e6ef;
  --accent: #00ffae;
  --font: "Overpass Mono", monospace;
  --text-color: #ffffff;
  --response-color: #9c9c9e;
  --description-color: #ff357a; /* Vibrant red for description */
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font);
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 32px 0 #1a1f24;
  font-size: 18px;
}

.menu {
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.menuItem {
  color: var(--response-color);
  background: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-align: left;
  padding: 0.5rem;
  transition: color 0.1s;
  transform: scale(1);
  /* transition: 0.2s; */
  background: transparent;
  display: inline-block;
  border-radius: 8px;
}

.menuItem.highlighted {
  color: var(--fg);
  outline: none;
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.1);
}
.menuItem.underline {
  color: var(--fg) !important;
  border-bottom: 2px solid white;
  border-radius: 0;
}

.prompt {
  color: var(--text-color);
  background: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-align: left;
  transition: color 0.1s;
  transform: scale(1);
  transition: 0.2s;
  background: transparent;
  display: inline-block;
  border-radius: 8px;
  color: #00ffae;
}

.response {
  color: var(--text-color);
  background: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-align: left;
  padding: 0;
  transition: color 0.1s;
  transform: scale(1);
  transition: 0.2s;
  background: transparent;
  border-radius: 8px;
  color: var(--response-color);
}

.showcase {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.1rem;
}

.menuItemImage {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.description {
  color: var(--description-color);
  margin: 0.5rem;
}
